$colors: (
    'common': (
        'white': #FCF8E3,
        'white-solid': #FCF8E3,
        'black': #053725,
        'black-2': #053725,
        'black-3': #053725,
        'dark': #053725,
        'orange': #EB5939,
    ),
    'grey': (
        '1':#262626,
        '2':#F4F4F4,
        '3':#053725,
        '4':#F7F7F7,
    ),
    'text': (
        'body':#053725,
    ),
    'theme': (
        '1': #336EF9,
    ),
    'border': (
        '1': #EAEAEB,
    )
);


$white : #FCF8E3;
$black : #053725;
$theme-primary : #336EF9;
$border-primary : #F1F1F9;